.container-foot{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    background-color: #333;
    color: #fff;
    flex-wrap: wrap;
    padding: 70px;
}
.container-foot a{
    color: #fff;
}