.container-nav{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
}
.container-nav h3{
    color: #fff;
    cursor: default;
}
.container-nav .container-nav__ul{
    display: flex;
    list-style: none;
}
.container-nav .container-nav__ul li{
    margin-right: 20px;
}
.container-nav .container-nav__ul li a{
    color: #333;
    text-decoration: none;
    background-color: #ccc;
    padding: 13px;
    border-radius: 15px;
}
.container-nav .container-nav__ul li a:hover{
    background-color: #fff;
}


@media (max-width: 600px) {
    .container-nav{
        height: 150px;
        flex-direction: column;
        flex-wrap: wrap;
    }
  }