#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ccc;
}
/* header */
.container-head {
  position: sticky;
  top: 0;
}
/* buzos */
.container-main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 30px;
}
